*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 100px;
}

.board {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: rgb(38, 38, 70);
}
.square {
  width: 40px;
  height: 40px;
  outline: 1px solid red;
}
.snake {
  background-color: green;
}
.food {
  background-color: yellow;
}
