*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(77, 79, 88);
}

.board {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
  height: 800px;
}
.row {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background-color: rgb(42, 54, 59);
}

.cell {
  outline: 1px solid red;
  height: 40px;
}

.cell-snake {
  background-color: green;
}

.cell-food {
  background-color: yellow;
}
